<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>592462108099-jv7rlpb3f7omuef3l6asq4kih8vho5ff.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.592462108099-jv7rlpb3f7omuef3l6asq4kih8vho5ff</string>
	<key>API_KEY</key>
	<string>AIzaSyCQwCp0nv5s98GsBATLusyQ-e7Ny5oNVG4</string>
	<key>GCM_SENDER_ID</key>
	<string>592462108099</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.woma.app</string>
	<key>PROJECT_ID</key>
	<string>woma-74a48</string>
	<key>STORAGE_BUCKET</key>
	<string>woma-74a48.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:592462108099:ios:ed5083ed64457109fc9976</string>
</dict>
</plist>